
body {
    background-image: url(https://ak.picdn.net/shutterstock/videos/1028814017/thumb/1.jpg?ip=x480);
    font-family: "poppins";
}

#creator .container {
    margin-top: 10%;
}

#creator h1 {
    font-family: "poppins";
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: white;
}

#creator p {
    font-family: "poppins";
    font-weight: 500;
    font-size: 32px;
    color: white;
    text-align: center;
}

/* Navbar Style */

.navbar {
    z-index: 3;
}

.navbar-brand {
    font-family: 'poppins';
    font-weight: 700;
    font-size: 40px;
}

.nav-link {
    font-family: 'poppins';
    font-weight: 700;
    font-size: 22px;
}

@media screen and (max-width : 480px) {
    #creator p {
        font-size: 20px;
        text-align: justify;
    }

    #creator h1 {
        font-size: 30px;
    }
}

@media screen and (max-height : 745px) {


}